@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Ubuntu, Inter, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
  }
  

html {
	overflow-x: hidden;
}

/* custom scrollbar */
/* TODO: use a transparent background for the track */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-background;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}

.spline-container {
    width: 90% !important;
    height: auto !important;
}

@media screen and (max-width: 768px) {
    .spline-container {
        width: 100% !important;
        height: auto !important;
    }
}
